[submodule "trader"]
	path = trader
	url = git@github.com:code4bw/ai.trader.git
[submodule "reader"]
	path = reader
	url = git@github.com:code4bw/ai.reader.git
[submodule "virtuals"]
	path = virtuals
	url = git@github.com:code4bw/ai.virtuals.git
